@import "tailwindcss";
body {
      margin: 0;
      padding: 0;
      font-family: 'Epilogue', sans-serif;
    }

    h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 80px;
  }

    p {
      line-height: 24px;
    }

    pre {
      padding: 16px;
      border-radius: 5px;
    }
    
    * {
      box-sizing: border-box;
      color: var(--dark);
      margin: 0;
    }

    :root {
      --primary: #402eff;
      --secondary: #f8f9ff;
      --white: #ffffff;
      --dark: #21243d;
      --light: #8695a4;
    }